<mat-card>
    <mat-card-title>Page Not Found </mat-card-title>
    <mat-card-subtitle>404</mat-card-subtitle>
    <mat-card-content>



    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>
        <div style="width: 100%; display: inline-flex; justify-content: center;" >

            <button  color="primary" mat-raised-button class="button-icon-text" aria-label="Login" (click)="mainPage()" >
                <mat-icon>home</mat-icon>
                <span>&nbsp;HOME PAGE</span>
            </button>
        </div>





    </mat-card-actions>

</mat-card>