<mat-card style="height: fit-content;">
    <mat-card-header>
        <mat-card-title>Make Payment</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>

    <mat-card-content>
        
        <form [formGroup]="paymentForm">
            <br/>
            <mat-form-field>
                <mat-label>Card Holder Name</mat-label>
                <input type="text" matInput id="userName" name="userName" formControlName="userName">
                <mat-hint  *ngIf="!paymentForm.get('userName')?.valid && paymentForm.get('userName')?.touched">
                    <span *ngIf="paymentForm.get('userName')?.errors?.['required']">
                        Please enter valid user name.
                    </span>
                </mat-hint>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Card Number</mat-label>
                <input type="text" name="cardNo"  matInput  formControlName="cardNo">
                <mat-hint  *ngIf="!paymentForm.get('cardNo')?.valid && paymentForm.get('cardNo')?.touched">
                    <span *ngIf="paymentForm.get('cardNo')?.errors?.['required']">
                        Please enter valid card number.
                    </span>
                    <span *ngIf="paymentForm.get('cardNo')?.errors?.['minlength']">
                        Card number should be 16 digit
                    </span>
                </mat-hint>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>CVV</mat-label>
                <input type="text" name="cvv"  matInput  formControlName="cvv">
                <mat-hint  *ngIf="!paymentForm.get('cvv')?.valid && paymentForm.get('cvv')?.touched">
                    <span *ngIf="paymentForm.get('cvv')?.errors?.['required']">
                        Please enter valid cvv.
                    </span>
                    <span *ngIf="paymentForm.get('cvv')?.errors?.['minlength']">
                        CVV should be 3 digit
                    </span>
                </mat-hint>
            </mat-form-field>
        </form>

    </mat-card-content>
 
    <mat-card-actions style="display: inline-flex; width: 100%; justify-content: space-between">
        <button mat-flat-button (click)="myCart()">
            <mat-icon>shopping_cart</mat-icon>
            <span>&nbsp;MY CART</span>
        </button>
        <button mat-raised-button color="warn" (click)="makePayment()">
            <mat-icon>credit_card</mat-icon>
            <span>&nbsp;MAKE PAYMENT</span>
        </button>
    </mat-card-actions>
    <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
</mat-card>